<div id="top2">
    <div id="innerTop">
    	<span id="head"></span>
    	<span class="iconfont icon-erweima white"></span>
    </div>	
</div>
<div id="bottom2">
	<ul>
		<li><span>我是代言人</span><span class="iconfont icon-jiantou1"></span></li>
		<li><span>我的订单</span><span class="iconfont icon-jiantou1"></span></li>
		<li><span>我的优惠券</span><span class="iconfont icon-jiantou1"></span></li>
		<li id="myCount"><span>我的账户</span><span class="iconfont icon-jiantou1"></span></li>
		<li><span>玩乐商城</span><span class="iconfont icon-jiantou1"></span></li>
		<li><span id="myShow">我要吐槽</span><span class="iconfont icon-jiantou1"></span></li>
	</ul>
</div>